////////////////////////////////////////////////////////////////////////
// Reconfigure and slurp in Bootstrap.

@import "bootstrap/functions";
@import "bootstrap/variables";

////////////////////////////////////////////////////////////////////////
// Twiddle Bootstrap options.

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$body-bg:		$black;
$body-color:		$gray-100;
$pre-color:		$gray-100;
$hr-border-color:	rgba($gray-100, .5);

$font-family-sans-serif:	Roboto, "Segoe UI", Arial, sans-serif;
$font-family-monospace:		"Fira Mono", monospace;
$font-family-base:		$font-family-sans-serif;

$pagination-border-color:	$gray-900;
$pagination-bg:			$gray-800;
$pagination-color:		$gray-400;

$unsw-yellow:		#f9b200;
$eng-red:		#e32119;
$sci-blue:		#009ee0;

$print-page-size:	a4 landscape;

////////////////////////////////////////////////////////////////////////
// Slurp in the bootstrap we're likely to use.

@import "bootstrap/mixins";

@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/transitions";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
// @import "bootstrap/alert";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/utilities";

//@import "highlight/vs";

div.orange a {
	color: #f9b200;
}

a.orange {
	color: #f9b200;
}

code {
	color: #e68186;
	background-color: #484848;
}



////////////////////////////////////////////////////////////////////////
// Keep the iframe hack.

body.iframe {
	padding: 24px;
}

body.iframe #header-navbar,
body.iframe #breadcrumb {
	display: none;
}

body {
	text-align: center;
	font-size: 115%;
}

////////////////////////////////////////////////////////////////////////
// Slide styles.

.print-toc {
	text-align: left;
}

main[is="slide"] {
	// apparently not any more?
	/* min-width: 100vw; */

	strong {
		color: $unsw-yellow;
	}

	&.title {
		font-size: 1.5rem;

		h1, h2, h3 {
			margin-top: map-get($spacers, 4);
			margin-bottom: map-get($spacers, 4);
		}

		h1 {
			font-size: 3.5rem;
		}

		.presenter {
			margin-top: map-get($spacers, 5);
			margin-bottom: map-get($spacers, 5);
		}

		.summary {
			margin-top: map-get($spacers, 5);
		}

		h1, h2, h3 {
			background-color: $body-bg;
			color: $body-color;
		}
	}

	h1, h2, h3 {
		display: block;
		min-width: 100%;
		background-color: $gray-200;
		color: $gray-900;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
	}

	pre {
		max-width: 60%;
		text-align: left;
		margin: $spacer auto;
	}

	hr {
		max-width: 60%;
	}
}

html {
	font-size: 1.25rem;
}

////////////////////////////////////////////////////////////////////////
// Viewport hacks for presentation view.

body.presenting {
	.print-toc { display: none; }
	aside { display: none !important; }

	main[is="slide"] {
		display: none;
		height: 95vh;

		&.active {
			display: block;
		}

		&.title {
			max-height: 80vh;
		}
	}

	h1, h2, h3 {
		min-width: 100vw;
	}

	.slide-row {
		@include make-row();

		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	.slide-navigation {
		font-size: .5rem;

		position: fixed;
		bottom: 0;
		top: auto;
		left: 0;
		right: 0;

		justify-content: center;

		margin-bottom: 0;
	}

	.page-item:first-child .page-link {
		border-bottom-left-radius: 0;
	}

	.page-item:last-child .page-link {
		border-bottom-right-radius: 0;
	}

	.presentation-sections {
		background-color: $gray-300;
		color: $gray-900;

		display: block;
		position: fixed;
		top: 0;
		bottom: auto;
		left: 0;
		right: 0;

		font-size: 50%;
		margin: 0;
		padding: map-get($spacers, 1) map-get($spacers, 3);
		width: 100vw;

		li {
			display: inline-block;
			list-style: none;
			margin-left: 0;
			margin-right: map-get($spacers, 2);

			a {
				color: $gray-900;
				text-decoration: none;
			}

			a.active {
				color: $eng-red;
			}
		}

		li:first-child a {
			font-weight: bold;
		}
	}
}

////////////////////////////////////////////////////////////////////////
// Viewport hacks for "previewing".

body.previewing {
	main[is="slide"] {
		@include border-radius();
		border: 1px dashed $gray-700;

		margin-top: map-get($spacers, 2);
		margin-bottom: map-get($spacers, 2);

		padding: map-get($spacers, 2);

		&::before {
			background-color: lighten($unsw-yellow, 20%);
			color: $gray-900;
			content: attr(data-slide-index);
			display: block;
			font-size: 1.25rem;
			float: right;

			margin-top: -1 * map-get($spacers, 2);
			margin-right: -1 * map-get($spacers, 2);
			min-width: 2.5rem;
			padding: map-get($spacers, 1);
			text-align: center;
		}

		h1, h2, h3 {
			margin-top: -1 * map-get($spacers, 2);
			margin-left: -1 * map-get($spacers, 2);
			margin-right: -1 * map-get($spacers, 2);
		}
	}

	.presentation-sections,
	.print-toc,
	.slide-navigation {
		display: none;
	}

	pre {
		max-width: 95%;
	}
}

@media print {
	main[is="slide"] {
		page-break-before: always;
	}

	.print-toc {
		display: initial !important;
	}
}

////////////////////////////////////////////////////////////////////////
// Override `.alert` and friends.

.alert {
	padding: $alert-padding-y $alert-padding-x;
	margin-bottom: $alert-margin-bottom;
	border: $alert-border-width solid transparent;
	@include border-radius($alert-border-radius);
}

@each $color, $value in $theme-colors {
	.alert-#{$color} {
		@include alert-variant(
			theme-color-level($color, 6),
			theme-color-level($color, 5),
			theme-color-level($color, -10));

		strong {
			color: lighten(theme-color-level($color, -6), 10%) !important;
		}
	}
}

////////////////////////////////////////////////////////////////////////
// Print options
@media print {
	.presentation-sections {
		display: none !important;
	}
	.presentation-sections > * {
		display: none !important;
	}
	body.previewing main[is="slide"] {
		border: 0px !important;
	}
}

